@import url("./reset.css");
@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}
:root {
  --base00: #151515;
  --base01: #202020;
  --base02: #303030;
  --base03: #505050;
  --base04: #b0b0b0;
  --base05: #d0d0d0;
  --base06: #e0e0e0;
  --base07: #f5f5f5;
  --base08: #fb9fb1;
  --base09: #eda987;
  --base0A: #ddb26f;
  --base0B: #acc267;
  --base0C: #12cfc0;
  --base0D: #6fc2ef;
  --base0E: #e1a3ee;
  --base0F: #deaf8f;
  --lr-padding: 12px;
}

.courier{
  font-family: Courier, serif;
}

html {
  font-family: madaregular, Helvetica, Arial, sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a{
  color:var(--base2);
  padding:.5px;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 600;
  letter-spacing: .05ch;
}

h1{
  font-size:3em;
}
h2{
  font-size:2.5em;
}
h3{
  font-size:2em;
}
h4{
  font-size: 1.75em;
}
h5{
  font-size: 1.5em;
}
h6{
  font-size: 1.25em;
}
p{
  font-size:1.2em;
  line-height: 1.2em;
  word-spacing: 1px;
}

body{
  background-color: var(--base07);
}

a {
  text-decoration: none;
  font-size:1em;
  color:var(--base0B) !important;
  transition:0.2s;
}

a:hover{
  font-size:1em;
  text-decoration: none;
  color:var(--base0C) !important;
}
.link{
  color:var(--base0B) !important;
  transition:0.2s !important;
  cursor: pointer;
}
.link:hover{
  color:var(--base0C) !important;
  cursor: pointer;
}

button {
  border-style: none;
  border-radius: 12px;
  height:32px;
  width:80px;
  background-color: var(--base0D);
  color: var(--base1);
  letter-spacing: .05ch;
  font-size:1em;
  transition: 0.2s;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

button:hover{
  background-color:var(--base0C);
  cursor: pointer;
}

/*-----LAYOUT-----*/
.col, .row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.page {
  padding-left: var(--lr-padding);
  padding-right: var(--lr-padding);
}

.matrix{
  justify-content: space-between;
  align-items: stretch;
}

/*-----NAV-----*/
.nav-bar {
  z-index: 1;
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--lr-padding);
  padding-right: var(--lr-padding);
  background-color: var(--base02);
  height: 3em;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.nav-group{
  display:flex;
  flex-direction: row;
}
.nav-item, .nav-logo{
  padding-top:1px;
  padding-bottom: 1px;
}
.nav-item{
  padding-left: 16px;
}

/*-----Footer------*/
footer{
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: var(--lr-padding);
  padding-right: var(--lr-padding);
  background-color: var(--base02);
  height:3em;
}
.footer-group{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  width:200px;
}
.footer-group.right{
  justify-content: flex-start;
}
.footer-group.left{
  justify-content: flex-end;
}
.footer-text{
  font-weight:600;
}
.footer-logo{
  padding-right: 12px;
}
i.footer-logo{
  font-size: 2.1em;
}
img.footer-logo{
  width:2.1em;
  padding-right:12px;
  opacity:1;
  transition: 0.4s;
}
img.footer-logo:hover{
  opacity:0.4;
}


/*----- PDF ------*/
.pdf{
  background-color: white;
  height:100vh;
  width: 100%;
}

/*-----FORM-----*/
.form-card{
  margin-top:calc(12vh);
  width: 360px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.4);
  padding: 16px;
}

form{
  display:flex;
  flex-direction:column;
}

.form-field{
  font-size:1em;
  padding:10px;
  flex:33.333333%;
  margin:3px 0 3px 0;
}
.form-error{
  color:var(--base08);
}
.form-button{
  margin-top:3px;
  margin-bottom:3px;
}
.form-title{
  margin-bottom:3px;
}